# Set update schedule for GitHub Actions

version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      # Check for updates to GitHub Actions every week
      interval: "weekly"
  - package-ecosystem: "bundler"
    directory: "/"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 5
  - package-ecosystem: "swift"
    directory: "/OneLogin.xcodeproj/project.xcworkspace/xcshareddata/swiftpm"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 5
  - package-ecosystem: "swift"
    directory: "/OneLogin.xcworkspace/xcshareddata/swiftpm"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 5