--swiftversion 5.9


--rules \
unusedPrivateDeclarations, \
assertionFailures, \
blankLineAfterImports, \
blankLinesBetweenImports, \
blankLinesAtEndOfScope, \ 
blankLinesAtStartOfScope, \
blankLinesBetweenChainedFunctions, \
blankLinesBetweenScopes, \
braces, \
consecutiveBlankLines, \
consecutiveSpaces, \
duplicateImports, \
emptyBraces, \
emptyExtensions, \
modifierOrder, \
modifiersOnSameLine, \
noForceTryInTests, \
noGuardInTests, \
redundantAsync, \
redundantBreak, \
redundantClosure, \
redundantLet, \
redundantLetError, \
redundantThrows, \
redundantNilInit, \
redundantOptionalBinding, \
redundantParens, \
redundantPattern, \
redundantVariable, \
redundantVoidReturnType, \
spaceAroundBraces, \
spaceAroundBrackets, \
spaceAroundComments, \
spaceAroundGenerics, \
spaceInsideBraces, \
spaceInsideBrackets, \
spaceInsideComments, \
spaceInsideGenerics, \
spaceInsideParens, \
todos, \
trailingClosures, \
typeSugar, \
validateTestCases, \
void, \
elseOnSameLine

--trim-whitespace nonblank-lines