#include "../secrets.xcconfig"

PRODUCT_BUNDLE_IDENTIFIER = uk.gov.onelogin.build

INFOPLIST_KEY_CFBundleDisplayName = One Login - Build
INFOPLIST_KEY_NSCameraUsageDescription = This app does not use the camera

BASE_URL = account.gov.uk
STS_BASE_URL = token.build.$BASE_URL
MOBILE_BE_BASE_URL = mobile.build.$BASE_URL

STS_CLIENT_ID = bYrcuRVvnylvEgYSSbBjwXzHrwJ

FEATURE_FLAG_FILE = FeatureFlagsBuild

CODE_SIGN_ENTITLEMENTS = OneLoginBuild.entitlements
