#include "../secrets.xcconfig"

PRODUCT_BUNDLE_IDENTIFIER = uk.gov.onelogin.build

INFOPLIST_KEY_CFBundleDisplayName = One Login - Build
INFOPLIST_KEY_NSCameraUsageDescription = This app does not use the camera

CODE_SIGN_ENTITLEMENTS = OneLoginBuild.entitlements

// MARK: Custom Settings

BASE_URL = mobile.build.account.gov.uk
EXTERNAL_BASE_URL = signin.account.gov.uk

FEATURE_FLAG_FILE = FeatureFlagsBuild

ONE_LOGIN_AUTHORIZE_URL = auth-stub.$(BASE_URL)
ONE_LOGIN_CLIENT_ID = TEST_CLIENT_ID

REDIRECT_URL = https:/$()/$(BASE_URL)/redirect
STS_BASE_URL = token.build.account.gov.uk
STS_CLIENT_ID = bYrcuRVvnylvEgYSSbBjwXzHrwJ

WALLET_CREDENTIAL_ISSUER_URL = https:/$()/example-credential-issuer.$(BASE_URL)
