#include "../secrets.xcconfig"

PRODUCT_BUNDLE_IDENTIFIER = uk.gov.onelogin.build

INFOPLIST_KEY_CFBundleDisplayName = One Login - Build
INFOPLIST_KEY_NSCameraUsageDescription = This app does not use the camera

MOBILE_BASE_URL = mobile.build.account.gov.uk
STS_BASE_URL = token.build.account.gov.uk
EXTERNAL_BASE_URL = signin.account.gov.uk

MOBILE_CLIENT_ID = TEST_CLIENT_ID

STS_CLIENT_ID = bYrcuRVvnylvEgYSSbBjwXzHrwJ

FEATURE_FLAG_FILE = FeatureFlagsBuild

CODE_SIGN_ENTITLEMENTS = OneLoginDebug.entitlements
