#include "../secrets.xcconfig"

PRODUCT_BUNDLE_IDENTIFIER = uk.gov.onelogin.build

INFOPLIST_KEY_CFBundleDisplayName = One Login - Build
INFOPLIST_KEY_NSCameraUsageDescription = The app will only access your phone’s rear camera to scan the QR code.

BASE_URL = account.gov.uk
STS_BASE_URL = token.build.$(BASE_URL)
MOBILE_BE_BASE_URL = mobile.build.$(BASE_URL)
EXTERNAL_BASE_URL = signin.build.$(BASE_URL)
GOV_SUPPORT_URL = home.build.$(BASE_URL)

ID_CHECK_DOMAIN = review-b.build.$(BASE_URL)
ID_CHECK_BASE_URL = api-backend-api.$(ID_CHECK_DOMAIN)
ID_CHECK_ASYNC_BASE_URL = sessions.review-b-async.build.$(BASE_URL)
READ_ID_URL = https:/$()/readid.$(ID_CHECK_DOMAIN)/odata/v1/ODataServlet
IPROOV_URL = wss:/$()/gds.rp.secure.iproov.me/ws

STS_CLIENT_ID = bYrcuRVvnylvEgYSSbBjwXzHrwJ

FEATURE_FLAG_FILE = FeatureFlagsBuild

CODE_SIGN_ENTITLEMENTS = OneLoginDebug.entitlements
