PRODUCT_BUNDLE_IDENTIFIER = uk.gov.onelogin

INFOPLIST_KEY_CFBundleDisplayName = One Login
INFOPLIST_KEY_NSCameraUsageDescription = The app will only access your phone’s rear camera to scan the QR code.

BASE_URL = account.gov.uk
STS_BASE_URL = token.$BASE_URL
MOBILE_BE_BASE_URL = mobile.$BASE_URL

STS_CLIENT_ID =

FEATURE_FLAG_FILE = FeatureFlags

CODE_SIGN_ENTITLEMENTS = OneLoginRelease.entitlements
