INFOPLIST_KEY_CFBundleDisplayName = One Login
PRODUCT_BUNDLE_IDENTIFIER = uk.gov.onelogin

INFOPLIST_KEY_NSCameraUsageDescription = This app does not use the camera

CODE_SIGN_ENTITLEMENTS = OneLoginRelease.entitlements

// MARK: Custom Settings

BASE_URL = mobile.account.gov.uk
EXTERNAL_BASE_URL = signin.account.gov.uk

FEATURE_FLAG_FILE = FeatureFlags

ONE_LOGIN_AUTHORIZE_URL = oidc.account.gov.uk
ONE_LOGIN_CLIENT_ID = 

REDIRECT_URL = https:/$()/$(BASE_URL)/redirect
STS_BASE_URL = token.account.gov.uk
STS_CLIENT_ID =

WALLET_CREDENTIAL_ISSUER_URL = https:/$()/example-credential-issuer.$(BASE_URL)
