PRODUCT_BUNDLE_IDENTIFIER = uk.gov.onelogin

INFOPLIST_KEY_CFBundleDisplayName = One Login
INFOPLIST_KEY_NSCameraUsageDescription = This app does not use the camera

MOBILE_BASE_URL = mobile.account.gov.uk
STS_BASE_URL = token.account.gov.uk
EXTERNAL_BASE_URL = signin.account.gov.uk

MOBILE_CLIENT_ID =

STS_CLIENT_ID =

FEATURE_FLAG_FILE = FeatureFlags

CODE_SIGN_ENTITLEMENTS = OneLoginRelease.entitlements
