PRODUCT_BUNDLE_IDENTIFIER = uk.gov.onelogin.staging

INFOPLIST_KEY_CFBundleDisplayName = One Login - Staging
INFOPLIST_KEY_NSCameraUsageDescription = The app will only access your phone’s rear camera to scan the QR code.

BASE_URL = account.gov.uk
STS_BASE_URL = token.staging.$BASE_URL
MOBILE_BE_BASE_URL = mobile.staging.$BASE_URL

STS_CLIENT_ID = ctQpngJQrFFCrppZtYQFFoklHaq

FEATURE_FLAG_FILE = FeatureFlagsStaging

CODE_SIGN_ENTITLEMENTS = OneLoginStaging.entitlements
