PRODUCT_BUNDLE_IDENTIFIER = uk.gov.onelogin.staging

INFOPLIST_KEY_CFBundleDisplayName = One Login - Staging
INFOPLIST_KEY_NSCameraUsageDescription = This app does not use the camera

MOBILE_BASE_URL = mobile.staging.account.gov.uk
STS_BASE_URL = token.staging.account.gov.uk
EXTERNAL_BASE_URL = signin.account.gov.uk

MOBILE_CLIENT_ID = sdJChz1oGajIz0O0tdPdh0CA2zW

STS_CLIENT_ID = ctQpngJQrFFCrppZtYQFFoklHaq

FEATURE_FLAG_FILE = FeatureFlagsStaging

CODE_SIGN_ENTITLEMENTS = OneLoginStaging.entitlements
