PRODUCT_BUNDLE_IDENTIFIER = uk.gov.onelogin.staging

INFOPLIST_KEY_CFBundleDisplayName = One Login - Staging
INFOPLIST_KEY_NSCameraUsageDescription = The app will only access your phone’s rear camera to scan the QR code.

BASE_URL = account.gov.uk
STS_BASE_URL = token.staging.$(BASE_URL)
MOBILE_BE_BASE_URL = mobile.staging.$(BASE_URL)
EXTERNAL_BASE_URL = signin.staging.$(BASE_URL)
GOV_SUPPORT_URL = home.staging.$(BASE_URL)

ID_CHECK_DOMAIN = review-b.staging.$(BASE_URL)
ID_CHECK_BASE_URL = api-backend-api.$(ID_CHECK_DOMAIN)
ID_CHECK_ASYNC_BASE_URL = sessions.review-b-async.staging.$(BASE_URL)
READ_ID_URL = https:/$()/readid.$(ID_CHECK_DOMAIN)/odata/v1/ODataServlet
IPROOV_URL = wss:/$()/gds.rp.secure.iproov.me/ws

STS_CLIENT_ID = ctQpngJQrFFCrppZtYQFFoklHaq

FEATURE_FLAG_FILE = FeatureFlagsStaging

CODE_SIGN_ENTITLEMENTS = OneLoginStaging.entitlements
