<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAyDI5-ciJEYk08jjysBWWhQSoulERtWFo</string>
	<key>GCM_SENDER_ID</key>
	<string>1099188154796</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>uk.gov.one-login.build</string>
	<key>PROJECT_ID</key>
	<string>one-login-build</string>
	<key>STORAGE_BUCKET</key>
	<string>one-login-build.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<false/>
	<key>IS_SIGNIN_ENABLED</key>
	<false/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1099188154796:ios:ee4d870949fe453ec7ca09</string>
</dict>
</plist>
