<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyADkrCIAINOBKh5oAsU9cDLROFsBsw3hdo</string>
	<key>GCM_SENDER_ID</key>
	<string>231299341389</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>uk.gov.onelogin.build</string>
	<key>PROJECT_ID</key>
	<string>mobile-one-login-build</string>
	<key>STORAGE_BUCKET</key>
	<string>mobile-one-login-build.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<false/>
	<key>IS_SIGNIN_ENABLED</key>
	<false/>
	<key>GOOGLE_APP_ID</key>
	<string>1:231299341389:ios:9621b0f5d84ae14b6dd004</string>
</dict>
</plist>
