<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Analytics Data</string>
			<key>Key</key>
			<string>hasAcceptedAnalytics</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>Feature Flags</string>
			<key>File</key>
			<string>FeatureFlags</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Acknowledgements</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>Abseil</string>
			<key>File</key>
			<string>Abseil</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>AppAuth</string>
			<key>File</key>
			<string>AppAuth</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>App Check</string>
			<key>File</key>
			<string>AppCheck</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>Firebase</string>
			<key>File</key>
			<string>Firebase</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>GoogleAppMeasurement</string>
			<key>File</key>
			<string>GoogleAppMeasurement</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>GoogleDataTransport</string>
			<key>File</key>
			<string>GoogleDataTransport</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>GoogleUtilities</string>
			<key>File</key>
			<string>GoogleUtilities</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>gRPC</string>
			<key>File</key>
			<string>GRPC</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>GTMSessionFetcher</string>
			<key>File</key>
			<string>GTMSessionFetcher</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>Interop For Google</string>
			<key>File</key>
			<string>InteropForGoogle</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>JWTKit</string>
			<key>File</key>
			<string>Jwtkit</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>LevelDB</string>
			<key>File</key>
			<string>LevelDB</string>
		</dict>
			<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>Nanopb</string>
			<key>File</key>
			<string>Nanopb</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>Promises</string>
			<key>File</key>
			<string>Promises</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>Swift Crypto</string>
			<key>File</key>
			<string>SwiftCrypto</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>SwiftProtobuf</string>
			<key>File</key>
			<string>SwiftProtobuf</string>
		</dict>
	</array>
</dict>
</plist>
