on:
  workflow_call:
    inputs:
      configuration:
        required: false
        type: string
        default: 'Release'
      app_check:
        required: false
        type: boolean

jobs:
  test_config:
    name: ${{ inputs.configuration }} Config Tests
    runs-on: macos-15
    steps:
      - name: Add Path Globally
        run: echo "/usr/local/bin" >> $GITHUB_PATH

      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # pin@v4
        with:
          lfs: 'true'
          submodules: 'true'
          fetch-depth: 0
          token: ${{ secrets.MODULE_FETCH_TOKEN }}

      - name: Configure Private Repo Access
        env:
          GIT_TOKEN: ${{ secrets.MODULE_FETCH_TOKEN }}
        run: |
          ./scripts-configs/store-access-token.sh

      - name: Import AppCheck Secret
        if: inputs.app_check
        run: |
          touch ../secrets.xcconfig

      - name: Login to AWS CodeArtifact
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.VENDOR_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.VENDOR_ACCESS_KEY }}
        run: |
          ./scripts-configs/spm/aws_code_artifact_login.sh /Applications/Xcode_26.0.1.app

      - name: Build App, Run Build Configuration Tests
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          LC_ALL: "en_US.UTF-8"
          LANG: "en_US.UTF-8"
          GIT_CONFIG_NOSYSTEM: "true"
          GIT_CONFIG_GLOBAL: '${{ github.workspace }}/scripts-configs/override-git-config'
        run: |
          bundle install

          bundle exec fastlane testWithoutCoverage scheme:"OneLogin${{ inputs.configuration }}" \
            configuration:"${{ inputs.configuration }}" \
            testplan:OneLogin${{ inputs.configuration }}Config
