name: iOS Deploy

on:
  push:
    branches:
      - develop
      - release/*

permissions:
  id-token: write
  contents: read

jobs:
  run_unit_tests:
    if: github.ref_name == 'develop'
    name: Run Unit Tests for develop branch
    uses: ./.github/workflows/unit-test.yml
    secrets: inherit

  test_snapshot:
    name: Run Snapshot Tests
    uses: ./.github/workflows/snapshot-test.yml
    secrets: inherit

  test_build_config:
    name: Run Deployment Tests
    uses: ./.github/workflows/config-test.yml
    with:
      configuration: "Build"
      app_check: true
    secrets: inherit

  test_staging_config:
    name: Run Deployment Tests
    uses: ./.github/workflows/config-test.yml
    with:
      configuration: "Staging"
    secrets: inherit

  deploy_build_app:
    needs: [ test_snapshot, test_build_config ]
    name: Deploy App
    uses: ./.github/workflows/deploy.yml
    with:
      configuration: "Build"
      app_check: true
    secrets: inherit

  deploy_staging_app:
    needs: [ test_snapshot, test_staging_config ]
    name: Deploy App
    uses: ./.github/workflows/deploy.yml
    with:
      configuration: "Staging"
    secrets: inherit
