on:
  workflow_call:
    inputs:
      test_branch:
        type: string
        default: 'develop'

jobs:
  run_ui_tests:
    name: Run UI Tests
    runs-on: macos-15
    steps:
      - name: Add Path Globally
        run: echo "/usr/local/bin" >> $GITHUB_PATH

      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # pin@v4
        with:
          ref: ${{ inputs.test_branch }}
          submodules: 'true'
          token: ${{ secrets.MODULE_FETCH_TOKEN }}

      - name: Configure Private Repo Access
        env:
          GIT_TOKEN: ${{ secrets.MODULE_FETCH_TOKEN }}
        run: |
          ./scripts-configs/store-access-token.sh

      - name: Import AppCheck Secret
        env:
            APP_CHECK_DEBUG_TOKEN: ${{ secrets.BUILD_APPCHECK_DEBUG_TOKEN }}
        run: |
          echo APP_CHECK_DEBUG_TOKEN=$APP_CHECK_DEBUG_TOKEN >> ../secrets.xcconfig

      - name: Login to AWS CodeArtifact
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.VENDOR_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.VENDOR_ACCESS_KEY }}
        run: |
          ./scripts-configs/spm/aws_code_artifact_login.sh /Applications/Xcode_16.4.app

      - name: Build App, Run UI Tests
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          LC_ALL: "en_US.UTF-8"
          LANG: "en_US.UTF-8"
          GIT_CONFIG_NOSYSTEM: "true"
          GIT_CONFIG_GLOBAL: '${{ github.workspace }}/scripts-configs/override-git-config'
        run: |
          bundle install

          bundle exec fastlane testWithoutCoverageForUITests scheme:"OneLoginBuild" \
            testplan:OneLoginUI

      - name: Make Artifact
        if: failure()
        run: |
          cd ./fastlane
          zip -rq UITestArtifact test_output -x "test_output/report.junit"

      - name: Upload Artifact
        if: failure()
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # pin@v4
        with:
          name: UITestArtifact
          path: ./fastlane/UITestArtifact.zip
          retention-days: 1
